# General
*.log
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
devtools_options.yaml

# Flutter specific
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
# mobile/pubspec.lock # Usually committed for applications

# Go specific
server/multitag-server

# Project specific
server/uploads/